
<p style="font-size:18px">Please use a keyword to search for an image</p>
<br>
<form class="form-search" action="/imageresults" method="post">
				<input type="text" name="image" value=" ">
				<button class="btn btn-warning"><i class="icon-picture"></i> Search</button>
</form>	

<div class="container">
	<img
	src="http://fototiller.com/blog/wp-content/uploads/2007/04/popup_album.jpg">
</div>	



