<div class="home">
<p>Welcome to the Playground Website.</p>
<p style="color: blue">While you're here you can search for movie information, a stock quote or a google image.</p>
<p style="color: red">If none of that suits you, you're welcome to rock back and forth while muttering profanities at your computer.</p> 
</div>


