<div class="home">
<h2>Welcome to the Playground Website.</h2>
<br>
<p>While you're here you can search for movie information, a stock quote or a google image.</p> 
</div>
<br>
<div class="playground">
	<img src="http://www.jogoequipment.com/cache/com_zoo/images/glow-in-the-dark-playgrounds_358eda01a95f9e5c7b303d04dd2906cd.jpg
	">
</div>	




