<!doctype html>
<html>
<head>
	<title>Playground Page</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
<nav>
	<a href="/movies">Movies</a>
	<a href="/stocks">Stocks</a>
	<a href="/images">Images</a>
	<a href="/">Home</a>	
</nav>

</body>
<%= yield %>

