<p style="font-size: 18px">Please use the form below to search for a movie.</p> 
<br>
<form class="form-search" action="/movieresults" method="post">
	<input type="text" name="title">
	
	<button class="btn btn-warning"><i class="icon-film"></i> Search </button>
</form>

<div class="container">
	<img src="http://movingimages.files.wordpress.com/2010/01/movie-theater-own-400ds08131.jpg">
</div>	

