<p style="font-size:18px">Please choose a stock to look up by stock symbol.</p>
<br>
<form class = "form-search" action="/stockresults" method="post">
	<input type="text" name="stock_sym">
	
	<button class="btn btn-warning"><i class="icon-eye-open"></i> Look Up </button>
</form>


<div class="container">
	<img src="http://www.nasdaq.com/reference/marketsite6.jpg">
</div>